<head>

    <link rel="stylesheet" href="css/bb.css">

</head>

<div class="text-container no-select">
     <p class="padding-text">
         <!-- To download a copy of the app onto your phone/device, select the appropriate platform below: -->
         Para baixar o aplicativo em seu celular, selecione a plataforma apropriada abaixo:
     </p>
     <table id="platform-table">
         <tr>
             <td class="platform-selector">
                <a href="https://play.google.com/store">
                <img src='images/google-play-badge.png' style="max-width: 50%"/>
                  </a>
             </td>
             <!-- <td class="platform-selector">
                 <img class="platform-ico" src='images/apple-ios-logo-png-3.png' />
             </td> -->
         </tr>
         <tr>
             <!-- <td class="platform-text">Android</td> -->
             <!-- <td class="platform-text">iOS</td> -->
         </tr>
     </table>
 </div>