<head>

    <link rel="stylesheet" href="css/bb.css">

</head>


<br>

<h3>Download</h3>

<div class="text-container no-select">
     <p class="padding-text">
         <!-- To download a copy of the app onto your phone/device, select the appropriate platform below: -->
         Para baixar o aplicativo em seu celular, selecione a plataforma apropriada abaixo:
     </p>
     <table id="platform-table">
         <tr>

             <td class="platform-selector">
                <a href="https://play.google.com/store/apps/details?id=uk.ac.manchester.brazilbreathing">
                <img src='images/google-play-badge.png' style="max-width: 50%;float: left;"/>
                  </a>
             </td>
    
         </tr>

         <tr>
             
             <td class="platform-selector">
                    <a href="https://apps.apple.com/us/app/brazil-breathing/id1469182083?ls=1">
                 <img src='images/apple_app_store.svg' style='width:44%; height:100%; float: left; margin-left: 15pt;'/>
                 </a>
             </td>      
     </tr>
     
        </table>
 </div>