<head>
    <link rel="stylesheet" href="/css/bb.css">
</head>

<div class="container-fluid">

<br>

    <table class="table papers-table no-select">

            <thead class="papers-table-head" style=" background-color: #2222;color: black;">
                <tr>
                    <td>Authors</td>
                    <td>Year</td>
                    <td>Title</td>
                    <td>Publication</td>
                    <td>Link</td>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Author, A, Author, B, Author, C</td>
                    <td>2018</td>
                    <td><i>Some paper title</i></td>
                    <td>Some Journal 18:1-54</td>
                    <td><img width="25px" src='../images/pdf.png' /></td>
                </tr>
                <tr>
                    <td>Author, A, Author, B, Author, C</td>
                    <td>2018</td>
                    <td><i>Some paper title</i></td>
                    <td>Some Journal 18:1-54</td>
                    <td><img width="25px" src='../images/pdf.png' /></td>
                </tr>
            </tbody>

    </table>


</div>

