<head>
    <link rel="stylesheet" href="/css/bb.css">
</head>


<table id="sponsors-table" class="no-select">
    <tr>
        <td>
            <img id="spons-1" class="sponsor-ico" src='../images/at.jpg' />
        </td>
        <td>
            <img id="spons-2" class="sponsor-ico" src='../images/EPSRC_logo_sponsor_rgb.jpg' />
        </td>
        <td>
            <img id="spons-3" class="sponsor-ico" src='../images/TAB_col_white_background.png' />
        </td>
            <td>
            <img id="spons-3" class="sponsor-ico" src='../images/Versao1_aumentada.jpg' />
        </td>
    </tr>
</table>

<table id="sponsors-table-small" class="no-select">
    <tr>
        <td>
            <img id="spons-1" class="sponsor-ico" src='../images/at.jpg' />
        </td>
        <td>
            <img id="spons-2" class="sponsor-ico" src='../images/EPSRC_logo_sponsor_rgb.jpg' />
        </td>
    </tr>
    <tr>
        <td>
            <img id="spons-3" class="sponsor-ico" src='../images/TAB_col_white_background.png' />
        </td>
            <td>
            <img id="spons-3" class="sponsor-ico" src='../images/Versao1_aumentada.jpg' />
        </td>
    </tr>
</table>
