<div class="container-fluid">

        <div class="row content">
   
            </div>


                 <table id="collaborators-table">
                    <tr>
                        <td id="name_0" class="col-cell-bio no-select ">
                            <div id="colab_0" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/ac.png" />
                            </div>
                            Assoc Prof. Admir Targino<br>
                            <span class="small-uni-txt">University of Technology, Brazil</span>

                        </td>


                        <td id="name_1" class="col-cell-bio no-select ">
                            <div id="colab_1" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/pk.png" />
                            </div>
                            Dr. Patricia Krecl<br>
                            <span class="small-uni-txt">University of Technology, Brazil</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="name_2" class="col-cell-bio no-select ">
                            <div id="colab_2" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/dp.png" />
                            </div>
                            Dr. David Topping<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                        <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/alan.png" />
                            </div>
                            Dr. Alan Davies<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                   <tr>
                        <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/cj.png" />
                            </div>
                            Dr. Caroline Jay<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                        <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/jw.png" />
                            </div>
                            Joshua Woodcock<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                   </tr>
                     <tr>
                        <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/jm.jpg" />
                            </div>
                            Dr. Julia Mueller<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                        <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/mr.png" />
                            </div>
                            Dr. Manuele Reani<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                   </tr>
                   <tr>
                        <td></td>
                   </tr>
                      <tr>
                        <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/ih.png" />
                            </div>
                            Dr. Ian Hall<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                   </tr>
               </table>

               <table id="collaborators-table-small">
                    <tr>
                        <td id="name_0" class="col-cell-bio no-select ">
                            <div id="colab_0" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/ac.png" />
                            </div>
                            Assoc Prof. Admir Targino<br>
                            <span class="small-uni-txt">University of Technology, Brazil</span>
                        </td>
                    </tr>
                   <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="name_1" class="col-cell-bio no-select ">
                            <div id="colab_1" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/pk.png" />
                            </div>
                            Dr. Patricia Krecl<br>
                            <span class="small-uni-txt">University of Technology, Brazil</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="name_2" class="col-cell-bio no-select ">
                            <div id="colab_2" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/dp.png" />
                            </div>
                            Dr. David Topping<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/ad.png" />
                            </div>
                            Dr. Alan Davies<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                   <tr>
                        <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/cj.png" />
                            </div>
                            Dr. Caroline Jay<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                   </tr>
                    <tr>
                        <td></td>
                    </tr>
                   <tr>
                        <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/jw.png" />
                            </div>
                            Joshua Woodcock<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                   </tr>
                    <tr>
                        <td></td>
                    </tr>
                   <tr>
                    <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/jm.jpg" />
                            </div>
                            Dr. Julia Mueller<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                   </tr>
                   <tr>
                        <td></td>
                    </tr>
                   <tr>
                    <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/mr.png" />
                            </div>
                            Dr. Manuele Reani<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                   </tr>
                    <tr>
                        <td></td>
                    </tr>
                   <tr>
                    <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/ih.png" />
                            </div>
                            Dr. Ian Hall<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                   </tr>
                   <tr>
                    <td id="name_3" class="col-cell-bio no-select ">
                            <div id="colab_3" class="circular-portrait-mini">
                                <img class="circularportrait-img" src="../images/sc.png" />
                            </div>
                            Prof. Sheena Cruikshank<br>
                            <span class="small-uni-txt">University of Manchester, UK</span>
                        </td>
                   </tr>


               </table>
</div>